body{
    background-color: pink;
}
.navbar{
    align-items: center;
}
.navlinks{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.navlinks li a{
    padding: 5px;
    color: black;
    font-size: large;
    text-decoration: none;
}
.navlinks li a:hover{
    background-color: palevioletred;
    border-radius: 3px;
    transition: ease-in .2s;
}
.active{
    background-color: palevioletred;
    border-radius: 3px;
}
.container{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.image img{
    width: 300px;
    height: 440px;
    border-radius: 15px;
}
.semic{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    /* text-align: right; */
}
.footer{
    height: 105px;
}
.sml{
    font-size: larger;
    font-weight: 400;
    text-align: center;
}
.links{
    display: flex;
    margin-top: 13px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}
.links a{
    font-size:xx-large;
    text-decoration: none;
    color: rgba(95, 44, 189, 0.152);
}
.links a img:hover{
    background-color: rgb(184, 102, 129);
    border-radius: 3px;
    transition: ease-in .2s;
}